*.vim
*.obj
*.rvd
*.tga

# Compiled Object files
*.slo
*.lo
*.o

# Do not exclude .dll because SDL2.dll is shipped
# Don't exclude libs either because SDL2 libs are shipped

# dependency files
*.P
*.d

# Executables
*.exe
*.out
